<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Adicom.Web.DAL.Properties.Settings.webadicomConnectionString"
            connectionString="server=duchieu\SQLEXPRESS;user id=sa;password=123456;database=CanhBaoDichBenh"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>