<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Localization">
      <section name="Localization" type="Localization.LocalizationConfigurationHandler, Localization"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="locale" value="vi-VN"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <connectionStrings>
    <add name="webadicomConnectionString" connectionString="server=duchieu\SQLEXPRESS;user id=sa;password=123456;database=CanhBaoDichBenh" providerName="System.Data.SqlClient"/>
    <add name="Adicom.Web.Properties.Settings.webadicomConnectionString" connectionString="server=duchieu\SQLEXPRESS;user id=sa;password=123456;database=CanhBaoDichBenh" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="DevExpress.XtraCharts.v8.2.Web, Version=8.2.4.0, Culture=neutral, PublicKeyToken=49D90C14D24271B5"/>
        <add assembly="DevExpress.XtraCharts.v8.2, Version=8.2.4.0, Culture=neutral, PublicKeyToken=49D90C14D24271B5"/>
        <add assembly="DevExpress.Web.v8.2, Version=8.2.4.0, Culture=neutral, PublicKeyToken=49D90C14D24271B5"/>
        <add assembly="DevExpress.Charts.v8.2.Core, Version=8.2.4.0, Culture=neutral, PublicKeyToken=49D90C14D24271B5"/>
        <add assembly="DevExpress.Data.v8.2, Version=8.2.4.0, Culture=neutral, PublicKeyToken=49D90C14D24271B5"/>
        <add assembly="DevExpress.Utils.v8.2, Version=8.2.4.0, Culture=neutral, PublicKeyToken=49D90C14D24271B5"/>
        <add assembly="DevExpress.XtraEditors.v8.2, Version=8.2.4.0, Culture=neutral, PublicKeyToken=49D90C14D24271B5"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="ADICOM.AUTH" loginUrl="~/Login.aspx" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/admin/admin.aspx" enableCrossAppRedirects="false"/>
    </authentication>

    <sessionState timeout="20" mode="InProc" cookieless="false"/>
    <siteMap defaultProvider="AdicomAdminSiteMapProvider" enabled="true">
      <providers>
        <add name="AdicomAdminSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/admin/admin.sitemap"/>
        <add name="AdicomMenuSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/MainMenu.sitemap"/>
      </providers>
    </siteMap>
    <membership defaultProvider="MembershipProvider">
      <providers>
        <clear/>
        <add name="MembershipProvider" type="Adicom.Web.Code.AdicomMembershipProvider, Adicom.Web"/>
      </providers>
    </membership>

    <pages theme="DichBenhTruyenNhiem" validateRequest="false">

    </pages>


    <!--The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
    <customErrors defaultRedirect="GenericErrorPage.htm" mode="Off">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>

  </system.web>
  <Localization>
    <Localization defaultCulture="vi-VN" languageFilePath="language"/>
  </Localization>
  <system.net>
    <mailSettings>
      <smtp from="hoanganh@adicom.com.vn">
        <network host="adicom.com.vn" password="123456@" userName="adicom@adicom.com.vn"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>